<% include head %>
<% if (username) { %>
<h1>AI List of <small><%= username %></small></h1>
<% } else { %>
<h1>AI List</h1>
<% } %>
<table id="ai-list-table" class="table table-hover">
<thead>
  <tr>
    <td><a href="/ai/list?username=<%= username %>&amp;sort=+user">User</a> (<a href="/ai/list?username=<%= username %>&amp;sort=+user%20-idOfUser">Submit</a>)</td>
    <td>AI Name</td>
    <td>Status</td>
    <td><a href="/ai/list?username=<%= username %>&amp;sort=-win">Win</a></td>
    <td><a href="/ai/list?username=<%= username %>&amp;sort=-draw">Draw</a></td>
    <td><a href="/ai/list?username=<%= username %>&amp;sort=-lose">Lose</a></td>
    <td><a href="/ai/list?username=<%= username %>&amp;sort=-ratio">Ratio</a></td>
    <td><a href="/ai/list?username=<%= username %>&amp;sort=-uploadDate">Upload Date</a></td>
    <td></td>
  </tr>
</thead>
<tbody>
<% for (var i = 0; i < list.length; ++i) { var ai = list[i]; %>
  <tr>
    <td><%= ai.user %> (<%= ai.idOfUser %>)</td>
    <td><%= ai.name %></td>
    <% if (ai.status === 'Unavailable')  { %>
      <td><span class="label label-danger"><%= ai.status %></span></td>
    <% } else if (ai.status === 'Available') { %>
      <td><span class="label label-success"><%= ai.status %></span></td>
    <% } else { %>
      <td><span class="label label-default"><%= ai.status %></span></td>
    <% } %>
    <td><span class="label label-success"><%= ai.win %></span></td>
    <td><span class="label label-warning"><%= ai.draw %></span></td>
    <td><span class="label label-danger"><%= ai.lose %></span></td>
    <td><%= Number(ai.ratio*100).toFixed(1) %>%</td>
    <td><%=: ai.uploadDate | formatDate %></td>
    <td><a href="/ai/<%= ai._id %>">(Detail)</a></td>
  </tr>
<% } %>
</tbody>
</table>
<nav>
  <ul class="pager">
  <% if (page === 1) { %>
    <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  <% } else { %>
    <li class="previous"><a href="/ai/list?username=<%= username %>&amp;page=<%= page-1 %>&amp;sort=<%= sort %>">&larr; Newer</a></li>
  <% } %>


  <% if (page === totpage) { %>
    <li class="next disabled"><a href="#">&rarr; Older</a></li>
  <% } else { %>
    <li class="next"><a href="/ai/list?username=<%= username %>&amp;page=<%= page+1 %>&amp;sort=<%= sort %>">&rarr; Older</a></li>
  <% } %>
  </ul>
</nav>
<% include foot %>