<% include head %>

<h1>Battle Demo</h1>
<dl class="dl-horizontal">
  <dt>AI 1</dt><dd><a href="/ai/<%= rec.ids[0] %>"><%= rec.name0 %></a> of <small><%= rec.user0 %> (<%= rec.idOfUser0 %>)</small></dd>
  <dt>AI 2</dt><dd><a href="/ai/<%= rec.ids[1] %>"><%= rec.name1 %></a> of <small><%= rec.user1 %> (<%= rec.idOfUser1 %>)</small></dd>
  <dt>Submit Date</dt><dd><%= rec.submitDate %></dd>
  <% if (rec.status === 'Pending') { %>
    <dt>Status</dt><dd><span class="label label-default"><%= rec.status %></span></dd>
  <% } else { %>
    <dt>Battle Date</dt><dd><%= rec.runDate %></dd>
    <dt>Status</dt><dd><%= rec.status %></dd>
    <dt>Total Steps</dt><dd><%= rec.step %></dd>
    <% if (rec.result == 0) { %>
      <dt>Winner</dt><dd><span class="label label-success"><%= rec.name0 %> of <small><%= rec.user0 %> (<%= rec.idOfUser0 %>)</small></span></dd>
      <dt>Loser</dt><dd><span class="label label-danger"><%= rec.name1 %> of <small><%= rec.user1 %> (<%= rec.idOfUser1 %>)</small></span></dd>
    <% } else if (rec.result == 1) { %>
      <dt>Winner</dt><dd><span class="label label-success"><%= rec.name1 %> of <small><%= rec.user1 %> (<%= rec.idOfUser1 %>)</small></span></dd>
      <dt>Loser</dt><dd><span class="label label-danger"><%= rec.name0 %> of <small><%= rec.user0 %> (<%= rec.idOfUser0 %>)</small></span></dd>
    <% } else if (rec.result == 2) { %>
      <dt>Result</dt><dd><span class="label label-warning">Draw</span></dd>
    <% } %>
  <% } %>
</dl>

<div id="demo-info">
  <div>
    <button type="button" class="btn btn-primary" disabled id="btn-playdemo">Loading Demo...</button>
    <div class="btn-group">
      <button id="btn-speed-slow" class="btn btn-sm btn-success">Slow</button>
      <button id="btn-speed-normal" class="btn btn-sm btn-warning">Normal</button>
      <button id="btn-speed-fast" class="btn btn-sm btn-danger">Fast</button>
    </div>
  </div>
  <p id="demo-text" class="bg-primary">Total Step: <%= rec.step %></p>
</div>

<table id="chess-board">
</table>
<div id="float-chess" class="hidden"></div>

<% include foot_script %>
<script src="/js/demo.js"></script>
<script>ChessDemo("<%= rec._id %>.json");</script>
<% include foot_close %>