<% include head %>
<h1>Battle List</h1>
<table id="battle-list-table" class="table table-hover">
<thead>
  <tr>
    <td>AI 1</td>
    <td>AI 2</td>
    <td>Status</td>
    <td>Step</td>
    <td>Submit Date</td>
    <td></td>
  </tr>
</thead>
<tbody>
<% 
  var refresh_list = [];
  for (var i = 0; i < list.length; ++i) { 
    var rec = list[i];
    if (rec.status !== 'Finished') {
      refresh_list.push(i);
    }
%>
  <tr id="row-<%= i %>">
    <td class="<%= getColor(rec.result, 0) %>"><a href="/ai/<%= rec.ids[0] %>"><%= rec.name0 %></a> of <small><%= rec.user0 %> (<%= rec.idOfUser0 %>)</small></td>
    <td class="<%= getColor(rec.result, 1) %>"><a href="/ai/<%= rec.ids[1] %>"><%= rec.name1 %></a> of <small><%= rec.user1 %> (<%= rec.idOfUser1 %>)</small></td>
    <% if (rec.status === 'Running')  { %>
      <td><span class="status label label-warning"><%= rec.status %></span></td>
      <td class="steps"><%= rec.step %></td>
    <% } else if (rec.status === 'Finished') { %>
      <td><span class="status label label-success"><%= rec.status %></span></td>
      <td class="steps"><%= rec.step %></td>
    <% } else { %>
      <td><span class="status label label-default"><%= rec.status %></span></td>
      <td class="steps"></td>
    <% } %>
    <td><%=: rec.submitDate | formatDate %></td>
    <td><a href="/battle/<%= rec._id %>">(Demo)</a></td>
  </tr>
<% } %>
</tbody>
</table>

<nav>
  <ul class="pager">
  <% if (page === 1) { %>
    <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  <% } else { %>
    <li class="previous"><a href="/battle/list?page=<%= page-1 %>">&larr; Newer</a></li>
  <% } %>


  <% if (page === totpage) { %>
    <li class="next disabled"><a href="#">&rarr; Older</a></li>
  <% } else { %>
    <li class="next"><a href="/battle/list?page=<%= page+1 %>">&rarr; Older</a></li>
  <% } %>
  </ul>
</nav>

<% include foot_script %>
<% if (refresh_list.length) { %>
<script src="<%= settings.staticCDN %>/js/refresh_steps.js?20141212"></script>
<script><% for (var i = 0; i < refresh_list.length; ++i) { var rec = list[refresh_list[i]]; %>
watch("#row-<%= refresh_list[i] %>", "/battle/<%= rec._id %>-steps.json");<% } %>
</script>
<% } %>
<% include foot_close %>
