<% include head %>

<h1>Battle Demo</h1>
<dl class="dl-horizontal">
  <dt>Submit Date</dt><dd><%=: rec.submitDate | formatDate %></dd>
  <% if (rec.status === 'Pending') { %>
    <dt>AI 0</dt><dd><a href="/ai/<%= rec.ids[0] %>"><%= rec.name0 %></a> of <small><%= rec.user0 %> (<%= rec.idOfUser0 %>)</small></dd>
    <dt>AI 1</dt><dd><a href="/ai/<%= rec.ids[1] %>"><%= rec.name1 %></a> of <small><%= rec.user1 %> (<%= rec.idOfUser1 %>)</small></dd>
    <dt>Status</dt><dd><span id="span-status" class="label label-default"><%= rec.status %></span></dd>
    <dt>Current Steps</dt><dd id="dd-steps"></dd>
  <% } else if (rec.status === 'Running') { %>
    <dt>AI 0</dt><dd><a href="/ai/<%= rec.ids[0] %>"><%= rec.name0 %></a> of <small><%= rec.user0 %> (<%= rec.idOfUser0 %>)</small></dd>
    <dt>AI 1</dt><dd><a href="/ai/<%= rec.ids[1] %>"><%= rec.name1 %></a> of <small><%= rec.user1 %> (<%= rec.idOfUser1 %>)</small></dd>
    <dt>Status</dt><dd><span id="span-status" class="label label-warning"><%= rec.status %></span></dd>
    <dt>Judge Server</dt><dd><%= rec.judger %></dd>
    <dt>Current Steps</dt><dd id="dd-steps"><img src="/images/ball.svg"><span id="span-steps">loading</span></dd>
  <% } else { %>
    <dt>AI 0</dt>
    <dd>
      <span id="span-ai0-color"></span>
      <a href="/ai/<%= rec.ids[0] %>"><%= rec.name0 %></a> of <small><%= rec.user0 %> (<%= rec.idOfUser0 %>)</small>
      <small>[
        <a href="/battle/<%= rec._id %>/stdin0.log">stdin</a> / 
        <a href="/battle/<%= rec._id %>/stdout0.log">stdout</a> / 
        <a href="/battle/<%= rec._id %>/stderr0.log">stderr</a>
      ]</small>
    </dd>
    <dt>AI 1</dt>
    <dd>
      <span id="span-ai1-color"></span>
      <a href="/ai/<%= rec.ids[1] %>"><%= rec.name1 %></a> of <small><%= rec.user1 %> (<%= rec.idOfUser1 %>)</small>
      <small>[
        <a href="/battle/<%= rec._id %>/stdin1.log">stdin</a> / 
        <a href="/battle/<%= rec._id %>/stdout1.log">stdout</a> / 
        <a href="/battle/<%= rec._id %>/stderr1.log">stderr</a>
      ]</small>
    </dd>
    <dt>Battle Date</dt><dd><%=: rec.runDate | formatDate %></dd>
    <dt>Judge Server</dt><dd><%= rec.judger %></dd>
    <dt>Total Steps</dt><dd><%= rec.step %></dd>
    <% if (rec.result == 0) { %>
      <dt>Winner</dt><dd>AI 0</dd>
    <% } else if (rec.result == 1) { %>
      <dt>Winner</dt><dd>AI 1</dd>
    <% } else if (rec.result == 2) { %>
      <dt>Result</dt><dd>Draw</dd>
    <% } %>
  <% } %>
  <% var isAdmin = settings.adminUsernames.indexOf(user.name) > -1; %>
  <% if (rec.status === 'Finished' && isAdmin && rec.contestId) { %>
    <dt></dt><dd><a href="/battle/<%= rec._id %>/rejudge" onclick="return confirm('CONFIRM REJUDGE?');">Rejudge</a></dd>
  <% } %>
</dl>

<% if (rec.status === 'Finished') { %>
<div id="demo-info">
  <ul id="invalid-list" class="list-group">
  </ul>
  <div>
    <div class="btn-group noselect">
      <button class="btn btn-sm btn-primary" disabled id="btn-prev"><span class="glyphicon glyphicon-chevron-left" id="span-prev" aria-hidden="true"></span></button>
      <button class="btn btn-sm btn-primary" disabled id="btn-play"><span id="span-play">Loading Demo...</span></button>
      <button class="btn btn-sm btn-primary" disabled id="btn-next"><span class="glyphicon glyphicon-chevron-right" id="span-next" aria-hidden="true"></span></button>
    </div>
    <div class="btn-group noselect">
      <button id="btn-speed-slow" class="btn btn-sm btn-success">Slow</button>
      <button id="btn-speed-normal" class="btn btn-sm btn-warning">Normal</button>
      <button id="btn-speed-fast" class="btn btn-sm btn-danger">Fast</button>
    </div>
    <div class="btn-group noselect">
      <button id="btn-chess-show" class="btn btn-sm btn-warning">Show</button>
      <button id="btn-chess-hide" class="btn btn-sm btn-success">Hide</button>
    </div>
  </div>
  <p id="demo-text" class="bg-primary">Total Step: <%= rec.step %></p>
</div>

<table id="chess-board" class="noselect">
</table>
<div id="float-chess" class="hidden"></div>
<% } %>

<% include foot_script %>
<% if (rec.status === 'Finished') { %>
<script src="<%= settings.staticCDN %>/js/demo.js?20151202v4"></script>
<script>Demo.setup("<%= rec._id %>.json");</script>
<% } else { %>
<script src="<%= settings.staticCDN %>/js/refresh_steps.js?20141212"></script>
<script>refresh_step("<%= rec._id %>-steps.json");</script>
<% } %>
<% include foot_close %>
