<% include head %>
<h1>User List</h1>
<table id="user-list-table" class="table table-hover">
<thead>
  <tr>
    <td><a href="/user/list?sort=+name">Name</a></td>
    <td><a href="/user/list?sort=-submit">Submit</td>
    <td><a href="/user/list?sort=-win">Win</a></td>
    <td><a href="/user/list?sort=-draw">Draw</a></td>
    <td><a href="/user/list?sort=-lose">Lose</td>
    <td></td>
  </tr>
</thead>
<tbody>
<% for (var i = 0; i < list.length; ++i) { var u = list[i]; %>
  <tr>
    <td><%= u.name %></td>
    <td><%= u.submit %></td>
    <td><span class="label label-success"><%= u.win %></span></td>
    <td><span class="label label-warning"><%= u.draw %></span></td>
    <td><span class="label label-danger"><%= u.lose %></span></td>
    <td><a href="/ai/list?username=<%= u.name %>">(Detail)</a></td>
  </tr>
<% } %>
</tbody>
</table>
<nav>
  <ul class="pager">
  <% if (page === 1) { %>
    <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  <% } else { %>
    <li class="previous"><a href="/user/list?page=<%= page-1 %>&amp;sort=<%= sort %>">&larr; Newer</a></li>
  <% } %>


  <% if (page === totpage) { %>
    <li class="next disabled"><a href="#">&rarr; Older</a></li>
  <% } else { %>
    <li class="next"><a href="/user/list?page=<%= page+1 %>&amp;sort=<%= sort %>">&rarr; Older</a></li>
  <% } %>
  </ul>
</nav>
<% include foot %>